/* navigation-panel */
.navigation-image:hover,
.navigation-image:focus {
 opacity: 60%;
}

.navigation-image:active {
 opacity: 30%;
}

.navigation-link:hover,
.navigation-link:focus {
 color: #756157;
}

.navigation-link:active {
 color: rgba(117, 97, 87, 0.3);
}

.navigation-userlink:hover,
.navigation-userlink:focus {
 color: #756157;
}

.navigation-userlink:active {
 color: rgba(117, 97, 87, 0.3);
}
/* usual-buttons */
.brown-button:hover,
.brown-button:focus {
 background-color: #615048;
}

.brown-button:active {
 background-color: #756157;
 color: hsla(0, 0%, 100%, 0.3);
}

.brown-button:disabled {
 background-color: #E5E5E5;
}

.blue-button:hover,
.blue-button:focus {
 background-color: #68A2CA;
}

.blue-button:active {
 background-color: #68A2CA;
 color: hsla(0, 0%, 100%, 0.3);
}

.blue-button:disabled {
 background-color: #E5E5E5;
}

.green-button:hover,
.green-button:focus {
 background-color: #6C9E42;
}

.green-button:active {
 background-color: #7DB54F;
 color: hsla(0, 0%, 100%, 0.3);
}

.green-button:disabled {
 background-color: #E5E5E5;
}

.social-link:hover,
.social-link:focus {
 color:#68A2CA;
}

.social-link:active {
 color: rgba(104, 162, 202, 0.3);
}

.footer-phone-call:hover,
.footer-phone-call:focus {
 color: #756157;
}

.footer-phone-call:active {
 color: rgba(117, 97, 87, 0.3);
}

.author-link:hover,
.author-link:focus {
 color: #756157;
}

.author-link:active {
 color: rgba(117, 97, 87, 0.3);
}

/* main-catalog */
.sort-button:hover {
 border: 2px solid #000000;
}

.sort-button:focus {
 border: 2px solid #68A2CA;
}

.sort-button:active {
 border: 2px solid #000000;
}

.pagination-current:hover,
.pagination-current:active,
.pagination-current:focus {
 background-color: #F2F2F2;
 color:#000000;
}


/* subscribe */
.field:hover {
 background-color: #E6E6E6;
}

.field:focus {
 background-color: #E6E6E6;
 outline: 3px solid #83B3D3;
}

.field:active {
 background-color: #FFFFFF;
 outline: 2px solid #000000;
}

.field:disabled {
 background-color: #e6e6e62f;
}

.field:invalid {
 color: #FF5757;
}

/* control panel catalog.html */
.breadcrumbs-link:hover {
 color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
 color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:disabled {
 color: rgba(255, 255, 255, 0.9);
}

.breadcrumbs-image:hover {
 color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-image:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-image:disabled {
  color: rgba(255, 255, 255, 0.9);
}

.range-toggle:hover {
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
 outline: 3px solid #83B3D3;
}

.range-toggle:active {
 box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
 outline: 2px solid #83B3D3;
}

.control-check:hover {
 background-color: rgba(255, 255, 255, 0.6);
}

.control-check:focus {
 background-color: rgba(255, 255, 255, 0.6);
 outline: 3px solid #83B3D3;
}

.control-check:active {
  outline: none;
 background-color: rgba(255, 255, 255, 0.3);
}

.control-check:disabled {
 background-color: rgba(255, 255, 255, 0);
}

.control-radio:focus {
 outline: 3px solid #83B3D3;
}

.control-radio:disabled {
 background-color: rgba(255, 255, 255, 0);
}

.select-control:hover,
.select-control:focus {
 border-color: #68A2CA;
}

.select-control:active {
 border-color: #3f5e72;
}

.select-control:disabled {
 border-color: rgba(0, 0, 0, 0.3);
 color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:hover {
 background-color: #E6E6E6;
}

.modal-close-button:focus {
 outline: 3px solid #83B3D3;
 background-color: #E6E6E6;
}

.modal-close-button:active {
 background-color: #E6E6E6;
 opacity: 30%;
 outline: none;
}

.modal-search:focus {
 outline: 3px solid #756257;
}

.tooltip-button:hover,
.tooltip-button:focus {
 background-color: #68A2CA;
 border: none;
}

.tooltip-button:active {
 opacity: 30%;
}

.tooltip-button:hover::after,
.tooltip-button:focus::after {
 content: attr(data-title);
 position: absolute;
 width: 216px;
 font-size: 16px;
 line-height: 21px;
 color: #FFFFFF;
 background-color: #333333;
 border-radius: 10px;
 text-transform: none;
 box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
 padding: 16px 17px 22px 23px;
 left: -115px;
 top: 40px;
}

.tooltip-button:hover::after::before,
.tooltip-button:focus::after::before {
 position: absolute;
 content: "";
 width: 19px;
 height: 9px;
 background-image: url(../images/modal/tooltip-triangle.svg);
 background-repeat: no-repeat;
 top: -9px;
 left: 46%;
}

.tooltip-button:disabled{
 background-color: #F2F2F2;
 opacity: 90%;
}

.button-decline:hover {
 opacity: 60%;
}

.button-decline:focus {
 outline: 3px solid #83B3D3;
 border-radius: 4px;
}

.button-decline:active {
 opacity: 30%;
}

.price-input:hover {
 border-color: rgba(255, 255, 255, 0.6)
}

.price-input:focus {
  box-shadow: 0 0 0 3px #81B3D2;
  outline: 3px double #81B3D2;
}

.price-input:active {
outline: none;
box-shadow: none;
 background-color: #756257 ;
}

.button-minus:hover,
.button-plus:hover {
 opacity: 60%;
}

.button-minus:focus,
.button-plus:focus {
 outline: 3px solid #83B3D3;
 border-radius: 4px;
}

.button-minus:active,
.button-plus:active {
opacity: 30%;
outline: none;
}
