@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  list-style-type: none;
  text-align: center;
}

.page-content {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 30px;

}

.navigation-list {
  margin: 0;
  margin-right: 240px;
  padding: 0;
  width: 520px;
}

.navigation-user {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  width: 300px;
}

.i-want-button {
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  font-size: 20px;
  vertical-align: top;
  text-decoration: none;
}

.main-header {
  background-image: url("../images/index/welcome-block/index-background.jpg");
  min-height: 485px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-header::before {
  content:"";
  background-image: url("../images/index/welcome-block/divider-under-main.svg");
  position: absolute;
  width: 100%;
  height: 57px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

.welcome-text {
  display: block;
  margin: 0 auto;
}

.main-header-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.main-header-text {
  width: 100%;
  text-align: center;
  line-height: 26px;
  font-size: 22px;
  font-weight: normal;
}

/* advantages section */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-first {
  width: 100%;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-block {
  text-align: center;
}

.advantages-item-title-first {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description-first {
  font-size: 18px;
  line-height: 21px;
}

.advantages-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
}

.option-first {
  background-image: url("../images/index/adventages/adventage-1/adv-house.svg");
  background-size: 75px 72px;
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% / 3);
}

.option-second {
  background-image: url("../images/index/adventages/adventage-1/adv-food.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% / 3);
}

.option-third {
  background-image: url("../images/index/adventages/adventage-1/adv-souveniers.svg");
  background-size: 75px 72px;
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% / 3);
}

.option-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.option-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-second {
  width: calc(100% / 3);
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-third {
  width: calc(100% / 3);
  background-color: rgba(131, 179, 211, 0.2);
}

.button {
  background-color: #756157;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-size: 574px 60px;
  font-family: "PT Sans", sans-serif;
  cursor: pointer; /*малюсенькая кнопка не пойму почему */
}

/* subscribe section */
.subscribe {
  width: 100%;
  background-image: url("../images/index/subscribe/background-image-subscribe.jpg");
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  margin-bottom: 45px;

}

.subcribe-block {
  margin: 0 auto;
  padding: 94px 200px;
  width: 800px;
  height: 225px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  line-height: 26px;
}

.field {
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-family: "PT Sans", sans-serif;
  border: none;
}

.subscribe-button {
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
 /* тоже непонятно почему размер кнопки не тот */
}

/* footer */
.page-footer {
  padding: 0;
  width: 100%;
}

.footer-block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  width: 1060px;
}

.social {
  display: flex;
  padding: 0;
  margin: 0;
  width: 142px;
  height: 40px;
  list-style-type: none;
}

.social-item {
  padding-right: 0 10px;
}

.social-button {
  width: 48px;
  height: 40px;
}

.social-image {
  padding: 13px;
}
.footer-phone-call {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
}

/* catalog.html */
 /* filter-field */

.filter-form {
  padding: 0;
  margin: 35px 70px 70px;
  color: #ffffff;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.filter-image {
  background-image: url("../images/catalog/hotels-search/filter-background.jpg");
  background-color: #ffffff;
  color:#000000;
  min-height: 411px;
  width: 100%;
  background-repeat: no-repeat;
  /* не понял как сделать чтобы картинка вверх была тоже, потому что form прижата к верхнему краю картинки */
}

.filter-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrubs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin: 0;
}

.catalog-filter-group {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
}

.catalog-filter-title {
  padding: 0;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.cost-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 70px;
  border: none;
}

.button-accept {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-decline {
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-weight: 400;
}

.select-control {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 76px;
  width: 1057px;
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-select {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  margin-top: 50px;
}

.sort-list {
  margin-top: 50px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  gap: 8px;
}

.sort-button {
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  min-height: 438px;
  margin: 0 auto;
  margin-bottom: 66px;
  padding: 0;
  gap: 18px;
  list-style-type: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 340px;
  min-height: 438px;
  background-color: #ffffff;
  /* не понял как убрать маленький отступ снизу у картинки, между ней и названием отеля */
}

.catalog-item-image {
  margin: 20px;
  margin-bottom: 0;
  width: 300px;
  height: 211px;
}

.catalog-item-title {
  margin: 0 20px;
  font-size: 24px;
  line-height: 28px;
}

.catalog-item-description {
  margin: 0 20px;
  font-size: 18px;
  line-height: 21px;
}

.catalog-item-cost {
  margin: 0 20px;
  font-size: 18px;
  line-height: 21px;
}

.button-link {
  margin: 0 20px;
  text-decoration: none;
  font-size: 16px;
}

.button-favorite {
  background-color: #82B3D3;
  font-size: 16px;
}

.button-favorited {
  background-color: #7DB54F;
  font-size: 16px;
}

.stars-raiting {
  margin: 0 20px;
}

.star {
  display: inline-block;
  background-image: url("../images/catalog/hotels/hotel-1/raiting-stars.svg");
  background-color: #ffffff;
  color: #000000;
  content:"";
  width: 18px;
  height: 17px;
}

.catalog-item-raiting {
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.divider {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  content: "";
  border: 1px solid #E6E6E6;
  width: 1056px;
}

.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 1056px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
}

.pagination-list {
  display: flex;
  list-style-type: none;
}

.button-pagination-current {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;
}

.button-pagination {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
}

 .hotel-onpage {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
 }

 .pagination-results {
  display: flex;
  align-items: center;
  width: 160px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
 }

