
.modal-container {
  /* to turn on/off modal window write display:none or display:flex */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);;
}

.modal-reservation {
  position: relative;
  margin: auto;
  margin-top: 396px;
  padding: 54px 70px 70px 68px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 575px;
  text-align: start;
}

.modal-title {
  margin: 0;
  margin-left: -2px;
  padding: 8px 60px 7px 0;
  margin-bottom: 56px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: start;
}

.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  background-color: #F2F2F2;
  top: 54px;
  right: 70px;
  padding: 0;
  background-image: url(../images/modal/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.reservation-date {
  display: flex;
  flex-wrap: wrap;
  line-height: 50px;
  margin: 0;
}

.reservation-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}

.reservation-field {
  background-image: url(../images/modal/modal-calendar.svg);
  background-repeat: no-repeat;
  background-position: top 18px right 17px;
  display: inline;
  width: 352px;
  padding: 15px 49px 15px 19px;
  border-radius: 4px;
  margin-left: auto;
  appearance: none;
}

.reservation-notice {
  margin-left: 155px;
  margin-bottom: 11px;
}

.notice {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 16px;
  line-height: 21px;
  padding-top: 7px;
}

.correct-notice-arrive {
  display: none;
}

.invalid-notice-arrive {
  color: #FF5757;
}

.correct-notice-departure {
  color: #333333;
}

.invalid-notice-departure {
  display: none;
}

.reservation-people {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-bottom: 40px;
}

.people-field {
  width: 31px;
  text-align: center;
  border-radius: 0;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 0;
  z-index: 1;
}

.adults-title {
  margin-right: 64px;
}

.children-title {
  margin-left: 56px;
}

.modal-reservation-button {
  display: flex;
  justify-content: center;
  max-width: 51px;
  background-color: #F2F2F2;
  padding: 18px 19px;
  border-radius: 4px 0 0 4px;
}

.modal-reservation-button:nth-child(4),
.modal-reservation-button:nth-child(9) {
  border-radius:  0 4px 4px 0;
}

.button-minus {
  width: 13px;
  height: 13px;
  border: none;
  background-image: url(../images/modal/modal-minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-plus {
  width: 13px;
  height: 13px;
  border: none;
  background-image: url(../images/modal/modal-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tooltip-button {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  background-image: url(../images/modal/modal-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  margin: 0 18px 0 5px;
  cursor: pointer;
}

.tooltip-text {
  display: none;
  position: absolute;
  width: 216px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  text-transform: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  padding: 16px 17px 22px 23px;
  left: -115px;
  top: 40px;
}

.people-field::-webkit-outer-spin-button,
.people-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-search {
  padding: 12px 26px;
  border-radius: 10px;
  margin: 0;
}
