@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  width: 100%;
}

.navigation {
  display: flex;
  align-items: flex-start;
  padding: 0 70px;
}

.navigation-logo {
  display: block;
  width: 139px;
  margin-right: 30px;
  z-index: 3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
}

.navigation-image {
  display: block;
}

.navigation-link {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-weight: 700;
  color: inherit;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  padding: 20px 17px;
  line-height: 26px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 300px;
}

.navigation-userlink {
  display: block;
  position: relative;
  margin: 0;
  padding: 24px 12px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  height: 18px;
}

.favorite-count {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 25px;
  top: 17px;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.current-link {
  position: relative
}

.current-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border: 1px solid #756257;
  background-color: #756257;
  left: 0;
  top: 65px;
  z-index: 1;
  /* правильно ли делать псевдоэлемент у ссылки? сама черточка становиться тоже ссылкой. */
}

.brown-button.want-button {
  width: 130px;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 14px;
  margin: 0;
  cursor: pointer;
  margin-left: 18px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/index/welcome-block/index-background.jpg");
  min-height: 485px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: -5px;
}

.main-header::before {
  content:"";
  background-image: url("../images/index/welcome-block/divider-under-main.svg");
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
}

.welcome-block {
  width: 100%;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 90px;
}

.main-header-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 31px;
}

.main-header-text {
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

/* advantages section */

.advantages-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
}

.advantages-text {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 92px 85px;
  gap: 30px;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-image {
  grid-column: 2 / -1;
  object-fit: contain;
}

.advantages-options {
  grid-column: 1/-1;
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.options-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 182px 85px 81px;
}

.options-item:nth-child(1) {
  background-image: url("../images/index/adventages/adventage-1/adv-house.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.options-item:nth-child(2) {
  background-image: url("../images/index/adventages/adventage-1/adv-food.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.options-item:nth-child(3) {
  background-image: url("../images/index/adventages/adventage-1/adv-souveniers.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.advantages-text-second {
  grid-column: 3/-1;
  display: flex;
  flex-direction: column;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 92px 85px;
  gap: 30px;
}

.advantages-image-second {
  grid-column: 1 / 3;
  object-fit: contain;
}

.advantages-else {
  grid-column: 1/-1;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-card {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px;
}

.advantages-card:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-block {
  padding-top: 90px;
  width: 100%;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.search-text {
  line-height: 26px;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.brown-button {
  display: inline-block;
  background-color: #756157;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  cursor: pointer;
  padding: 12px 15px;
  margin-bottom: 95px;
  font-family: "PT Sans";
}

/* subscribe section */
.subscribe {
  background-image: url("../images/index/subscribe/background-image-subscribe.jpg");
  width: 100%;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.subcribe-block {
  padding: 94px 0;
  margin: 0 auto;
  width: 800px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.subscribe-description {
  line-height: 26px;
  margin: 0;
  margin-bottom: 45px;
}

.subscribe-form {
  display: flex;
  width: 100%;
}

.field {
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  font: inherit;
  border: none;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.blue-button {
  display: inline-block;
  background-color: #83B3D3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  cursor: pointer;
  padding: 12px 15px;
  margin-bottom: 95px;
  font-family: "PT Sans";
}

.subscribe-button {
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  border: none;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  width: 200px;
  padding: 12px 15px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 30px;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  padding: 13px 12px;
  color:#83B3D3;
  cursor: pointer;
}

.footer-phone-call {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.author-link {
  color: #000000;
  cursor: pointer;
}

/* catalog.html */
 /* filter-field */

 .filter-image {
  background-image: url("../images/catalog/hotels-search/filter-background.jpg");
  background-color: #000000;
  color:#ffffff;
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  padding: 0;
  flex-grow: 1;
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: -5px;
  width: 1060px;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.filter-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  gap: 10px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  text-align: start;
}

.filter-title {
  text-align: start;
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrubs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  gap: 10px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 30px;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.catalog-price {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.filter-buttons {
  align-self: flex-end;
  width: 160px;
  margin-left: 70px;
  cursor: pointer;
}

.button-accept {
  width: 160px;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  padding: 14px 15px;
  cursor: pointer;
}

.main-catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 71px 25px 71px;
  flex-wrap: wrap;
}

.sort-type {
  display: flex;
  align-items:center;
  margin-bottom: 56px;
}

.sort-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
}

.sort-selector {
  display: flex;
  align-items: center;
  border: 2px solid #E5E5E5;
  padding: 14px 0 14px 20px;
  border-radius: 4px;
  font-size: 18px;
  margin-right: 78px;
  width: 290px;
  font-family: "PT Sans", sans-serif;
}

.sort-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 8px;
  row-gap: 0;
  padding: 0;
  margin: 0;
}

.sort-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.table {
  background-image: url("../images/catalog/sort-panel/icon-table-filter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  background-image: url("../images/catalog/sort-panel/icon-slideshow-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.list {
  background-image: url("../images/catalog/sort-panel/icon-list-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 66px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
  padding: 20px;
}

.catalog-item-image {
  height: auto;
}

.catalog-item-title {
  width: 100%;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.catalog-item-description {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  font-size: 18px;
  line-height: 21px;
}

.catalog-item-buttons {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
}

.button-link {
  width: 110px;
  padding: 8px 15px;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  font-family: "PT Sans";
  line-height: 20px;
  cursor: pointer;
}

.button-favorite {
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 9px 15px;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.green-button {
  display: inline-block;
  background-color: #756157;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  padding: 12px 15px;
  margin-bottom: 95px;
  font-family: "PT Sans";
  cursor: pointer;
}

.button-favorited {
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 9px 15px;
  background-color: #7DB54F;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.raiting {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
}

.stars-raiting {
  width: 140px;
  align-self: center;
}

.star {
  display: inline-block;
  background-image: url("../images/catalog/hotels/hotel-1/raiting-stars.svg");
  background-color: #ffffff;
  color: #000000;
  content:"";
  width: 18px;
  height: 17px;
}

.catalog-item-raiting {
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px;
}

.divider {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  content: "";
  border: 1px solid #E6E6E6;
  width: 1056px;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  gap: 8px;
}

.pagination-item {
  display: flex;
  width: 60px;
}

.pagination-current {
  display: flex;
  padding: 11px 18px;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 0;
  border-radius: 4px;
  text-decoration: none;
  background-color: #F2F2F2;
  color: #000000;
}

.button-pagination {
  display: flex;
  padding: 11px 18px;
  justify-content: center;
  width: 60px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

 .hotel-onpage {
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 51px;
 }

 .pagination-results {
  height: 49px;
  width: 160px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  line-height: 21px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
 }

 /* button styles */
 .brown-button:hover,
 .brown-button:focus {
  transition: 0.3s;
  background-color: #615048;
 }

 .brown-button:active {
  transition: 0.3s;
  background-color: #756157;
  color: hsla(0, 0%, 100%, 0.3);
 }

.brown-button:disabled {
  background-color: #E5E5E5;
}

.blue-button:hover,
.blue-button:focus {
  transition: 0.3s;
  background-color: #68A2CA;
}

.blue-button:active {
  transition: 0.3s;
  background-color: #82B3D3;
  color: hsla(0, 0%, 100%, 0.3);
}

.blue-button:disabled {
  background-color: #E5E5E5;
}

.green-button:hover,
.green-button:focus {
  transition: 0.3s;
  background-color: #6C9E42;
}

.green-button:active {
  transition: 0.3s;
  background-color: #7DB54F;
  color: hsla(0, 0%, 100%, 0.3);
}

.green-button:disabled {
  background-color: #E5E5E5;
}

.social-link:hover,
.social-link:focus {
  transition: 0.3s;
  color:#68A2CA;
}

.social-link:active {
  transition: 0.3s;
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone-call:hover,
.footer-phone-call:focus {
  transition: 0.5s;
  color: #756157;
}

.footer-phone-call:active {
  transition: 0.5s;
  color: rgba(117, 97, 87, 0.3);
}

.author-link:hover,
.author-link:focus {
  transition: 0.5s;
  color: #756157;
}

.author-link:active {
  transition: 0.5s;
  color: rgba(117, 97, 87, 0.3);
}

.sort-button:hover,
.sort-button:active {
  transition: 0.3s;
  border: 2px solid #000000;
}

.pagination-current:hover,
.pagination-current:active,
.pagination-current:focus {
  border: none;
  background-color: #F2F2F2;
  color:#000000;
}

.sort-button:focus {
  transition: 0.3s;
  border: 2px solid #68A2CA;
}

.breadcrubs-link:hover,
.breadcrubs-link:active {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}

.navigation-link:hover,
.navigation-link:focus {
  transition: 0.5s;
  color: #756157;
}

.navigation-link:active {
  transition: 0.5s;
  color: rgba(117, 97, 87, 0.3);
}

.navigation-userlink:hover,
.navigation-userlink:focus {
  transition: 0.5s;
  color: #756157;
}

.navigation-userlink:active {
  transition: 0.5s;
  color: rgba(117, 97, 87, 0.3);
}

.field:hover,
.field:focus {
  transition: 0.5s;
  background-color: #E5E5E5;
}

.field:active {
  transition: 0.5s;
  outline: 2px solid #000000;
}
